<mat-sidenav-container class="sidenav-container">
  <!-- The side nav -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="'over'"
    [opened]="false"
  >
    <!-- Navbar content -->
  </mat-sidenav>

  <!-- Side nav content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="toolbar-title">Lab Dashboard</span>
      <span class="toolbar-spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        aria-label="User menu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content-container">
      <router-outlet></router-outlet>
      <!-- This should display the LoginComponent -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
