<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <input matInput placeholder="titre" formControlName="titre" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
      <input
        matStartDate
        formControlName="datedebut"
        placeholder="Start date"
      />
      <input matEndDate formControlName="datefin" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="Lieu" formControlName="Lieu" />
  </mat-form-field>
</form>
