<form [formGroup]="form" (ngsubmit)="sub()">
  <mat-form-field appearance="fill">
    <mat-label>CIN</mat-label>
    <input matInput placeholder="cin" formControlName="cin" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="name" formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput placeholder="type" formControlName="type" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>CV</mat-label>
    <input matInput placeholder="cv" />
  </mat-form-field>
  <button type="submit">Submit</button>
</form>
